# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data files
data/raw/
data/processed/

# Python distribution
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db